<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="boardList">

    <select id="listBoard" resultType="com.ricemen.study.simpleboard.vo.Board">
          SELECT * FROM tbl_board ORDER BY registed_at DESC
    </select>
    
    
    <insert id="insertBoard" parameterType="com.ricemen.study.simpleboard.vo.Board">
        INSERT INTO tbl_board (btitle, bwriter, bcontents, registed_at)
        VALUES (#{btitle}, #{bwriter}, #{bcontents}, now())
    </insert>

</mapper>